@import url('clash-display.css');

section {
    margin-left: 113px;
    margin-right: 113px;
}

p, a {
    font-family: 'ClashDisplay-Extralight', sans-serif;
}


.header-text, .h3, .h2, h1 {
    font-family: 'ClashDisplay-Semibold', sans-serif;

}

.thin-text {
    font-family: 'DM Sans', sans-serif;
    font-weight: 100;
}

.nav-link, #branding {
    font-family: 'DM Sans', sans-serif;

}

#branding {
    color:dimgray
}

.flex-item {
    flex: 1;
}

.big-flex {
    flex: 2;
}

.h4 {
    font-family: 'DM Sans', sans-serif;
    font-weight: lighter;
}

p, .accordion-body {
    font-family: 'DM Sans', sans-serif;
    font-weight: normal;
}


form {
    font-family: 'ClashDisplay-Normal', sans-serif;
    font-weight: normal;
}

.testimonial-img {
    width: 10%;
}

.h5, .h1 {
    font-family: 'ClashDisplay-Semibold', sans-serif;

}

@media (max-width: 767px) {
    .col-lg-4 {
      width: 100% !important;
    }
    
    .col-lg-4:not(:last-child) {
      margin-bottom: 1rem;
    }
  
    .text-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.5rem;
      font-weight: bold;
      color: #000;
      text-align: center;
      padding: 1rem;
      border-radius: 8px;
    }
  
    .d-none.d-md-block {
      display: none !important;
    }
    .home-container {
      padding-left: 20px;
      padding-right: 20px;
      width: 325px;
    }
  }
  
  .testimonial-item {
    background-color: #F5F8FE;
 
  }

.sign-up {
  font-size: 16px;
  width: 140px;
}
  @media (min-width: 776px) {
    /* * {
      background-color: lightgreen;
    } */
    .navbar {
      padding: 24px 100px;
      justify-content: center;
      align-items: center;
    }
.header-text
{
  display: flex;

height: 80px;
padding-top: 24px;
padding-bottom: 24px;
justify-content: center;
align-items: center;
gap: 24px;
}
.col-text {
  display: flex;
}
.home-container {
  padding-left: 100px;
  padding-right: 100px;

}
.home-header {
  font-size: 40px;
  font-family: 'ClashDisplay-Semibold', sans-serif;
}
  }

  .logo {
    font-size: 28px;
    font-family: 'ClashDisplay-Semibold', sans-serif;
  }

@media (max-width: 775px) {
  .header-text {
    font-size: 16px;
    display: flex;
height: 80px;
padding: 20px 16px;
justify-content: flex-start;
align-items: center;
gap: 16px;

  }


  .logo {
    padding-left: 0px;
  }
  #home {
    padding: 20px 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-header {
    font-size:24px;
    font-family: 'ClashDisplay-Semibold', sans-serif;

  }
  .sign-up {
    font-size: 16px;
    width: 100%;
  }
  .home-container {
    padding-bottom: 64px;
  }
}
